@import "../../../styles/generic.scss";
@import "../../../styles/variables";

.submit {
  button {
    margin-bottom: 1.25rem;
  }
  align-items: center;
  &Link {
    display: flex;
    justify-content: space-between;
    color: $default-green;
    font-size: to-rem(14);
  }
}
