$white: #ffffff;
$light-blue: #2f4ba6;
$shadow-blue: #2443a7;
$black: #223856;
$primary: #feb616;
$primary-dark: #4f1271;
$primary-light: #a2b8fc;
$default-green: #00e59e;
$default-green-light: #01cf8f;
$grey: #748cad;
$focused: #fdcd00;
$footer-text: #748cad;
$question-header: #223856;
$border-grey: #eaeef3;
$sky-blue: #0f8cff;
$container-background: #f0f4f9;
$hover-state: #2443a7;
$activeState: #dae2fb;
$activeStateBorder: #d2ddeb;
$borderRadius: 3px;
$borderColor: #f2f2f2;
$bg: #f0f4f9;
$border-width-base: 1px;
$border-style-base: solid;
$input-border-color: #ddd;
$input-placeholder-color: #ddd;
$input-focus-color: #333;
